.container {
    padding-top: 30px;
}

::ng-deep .ngxImageZoomContainer > img{
    max-height: 200px!important;
    min-width: 480px!important;
} 

.ProductSubImage {
    margin-top: 15px;
    height: 80px;
    width: 170px;
    padding-left: 20px;
}

.ContactFormTitle {
    margin-top: 35px;
    font-size: 20px;
    font-weight: bold;
    color: #4A3DB5;
}

.details {
    border-top: 1px solid #CDCDCD;
    margin-top: 10px;
}

.PriceLabel {
    margin-top: 10px;
    font-size: 15px;
}

.Price {
    color: green;
}

.Color {
   padding: 0px;
}

a.btn.btn-light {
    color: #FFFFFF;
}

a.btn.btn-light:hover {
    color: #FFFFFF;
}

.btn-light {
    background:#4A3DB5;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 0px;
}

.btn-light:hover {
    background: #4A3DB5;
    border: 2px solid #000000;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 0px;
}

a.btn.btn-light1 {
    color: #FFFFFF;
}

a.btn.btn-light1:hover {
    color: #FFFFFF;
}

.btn-light1 {
    background:#FCA912;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 0px;
}

.btn-light1:hover {
    background: #FCA912;
    border: 2px solid #000000;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 0px;
}

.Share {
    margin-top: 20px;
    font-size: 20px;
}

.mattab {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
    color: #4A3DB5;
}

.FeatureHeadings {
    font-weight: bold;
}

.fb {
    padding: 0px;
    height: 50px;
}

.google {
    padding: 0px;
    height: 50px;
}

.tweet {
    padding: 0px;
    height: 50px;
}

.share {
    padding: 0px;
    height: 50px;
}

.pint {
    padding: 0px;
    height: 50px;
}