.Cart {
    background: transparent;
    font-size: 20px;
}

.badge {
    background: #4A3DB5;
    font-size: 20px;
    border-radius: 50%;
}

.horizontalLine {
    border-bottom: 1px solid #CDCDCD;
    margin-bottom: 20px;
}

.CartDetails {
    margin-top: 40px;
    margin-bottom: 200px;
    padding: 15px;
}

.AddressDetails {
    margin-top: 40px;
    margin-bottom: 200px;
    padding: 15px;
    border: 1px solid #CDCDCD;
}

a.Buy {
    background: #4A3DB5;
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}

.card-header {
    font-size: 25px;
}

.Value {
    text-align: right;
    position: relative;
    margin-left: 300px;
    margin-top: -20px;
}

.TableHeader {
    margin-top: 15px;
    margin-bottom: 15px;
}

.Header {
    border: 1px solid #CDCDCD;
    font-weight: bold;
    background: #4A3DB5;
    color:#FFFFFF;
}

.minus {
    background: #F1473A;
    font-size: 15px;
    border-radius: 50%;
}

.plus {
    background: #F1473A;
    font-size: 15px;
    border-radius: 50%;
}

.quan {
    border: 1px solid #CDCDCD;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

.ProductImage {
    height: 50px;
    width: 70px;
    cursor: pointer;
}

.Details {
    border: 1px solid #CDCDCD;
}

.EmptyCartDiv {
    margin-top: 40px;
    margin-bottom: 200px;
}

.emptyCart {
    text-align: center;
}

.emptyCartImage {
    height: 90px;
    width: 90px;
}

.emptyCart1 {
    text-align: center;
    font-size: 30px;
}

.emptyCart2 {
    text-align: center;
    font-size: 15px;
}

a.Return {
    background: #4A3DB5;
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}

.glyphicon-trash {
    color: red;
}

.NoAddressDiv {
    margin-top: 40px;
    margin-bottom: 200px;
}

.noAddress {
    text-align: center;
    font-size: 50px;
}

.addAddress {
    text-align: center;
}

a.Add {
    background: #4A3DB5;
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 60px;
}

.Addresses {
    font-size: 25px;
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 20px;
    color: #4A3DB5;
}

.AddressHeadings {
    color: #C97F1A;
    font-weight: bold;
}

a.Edit {
    background: #4A3DB5;
    color: #FFFFFF;
    margin-top: 7px;
}

.select {
    margin-top: 15px;
}

a.btn.btn-light {
    color: #FFFFFF;
}

a.btn.btn-light:hover {
    color: #FFFFFF;
}

.btn-light {
    background:#4A3DB5;
    color: #FFFFFF;
    margin-right: 10px;
}

.btn-light:hover {
    background: #4A3DB5;
    border: 2px solid #000000;
    color: #FFFFFF;
    margin-right: 10px;
}

.formButtons{
    padding-top: 20px;
}

.nav-link {
    padding: 0rem;
}

.nav-link:hover {
    color: #4287f5;
    text-decoration: underline;
}

.thumbnail:hover {
    border: 5px solid #000000;
}

a {
    color: #4A3DB5;
}

a.nav-link:hover {
    color: #4A3DB5;
}

.Producer {
    color: #C97F1A;
}

.TableHeader1 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: green;
}

.TableHeader2 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(4, 77, 4);
    font-weight: bold;
}