<mat-tab-group class="mattab" [selectedIndex]="selectedTab">

    <mat-tab label="Cart">

        <div class="container CartDetails" *ngIf="!noCartData">
            <div class="row">
                <div class="col-9 container ProductListTable">
                    <div class="row Header">
                        <div class="col-5 TableHeader">
                            Product
                        </div>
                        <div class="col-2 TableHeader">
                            Quantity
                        </div>
                        <div class="col-2 TableHeader">
                            Price
                        </div>
                        <div class="col-2 TableHeader">
                            Total
                        </div>
                    </div>
                    <div class="row Details" *ngFor="let c of cartData">
                        <div class="col-5 TableHeader">
                            <div class="row">
                                <div class="col-4">
                                    <img src="{{imageUrl}}{{c.product_id.product_image}}" class="ProductImage thumbnail"
                                        (click)="gotoProductDetails(c.product_id.product_id)" />
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <a class="nav-link" href="#" routerLink="productdetails/:id"
                                            routerLinkActive="Active"
                                            (click)="gotoProductDetails(c.product_id.product_id)">
                                            {{c.product_id.product_name}}
                                        </a>
                                    </div>
                                    <div class="row">
                                        by <span class="Producer">&nbsp;{{c.product_id.product_producer}}</span>
                                    </div>
                                    <div class="row">
                                        Status: &nbsp;<span style="color: green">{{c.product_id.product_stock}} In
                                            Stock</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 TableHeader">
                            <span class="badge minus"
                                (click)="decrementQuanity(c.product_id,c.quantity,c.product_id.product_cost,c.total_productCost)">-</span>
                            <span class="quan">{{c.quantity}}</span>
                            <span class="badge plus"
                                (click)="incrementQuanity(c.product_id,c.quantity,c.product_id.product_cost,c.total_productCost)">+</span>
                        </div>
                        <div class="col-2 TableHeader1">
                            {{c.product_id.product_cost | currency:'INR' }}
                        </div>
                        <div class="col-2 TableHeader2">
                            {{c.total_productCost | currency:'INR'}}
                        </div>
                        <div class="col-1 TableHeader">
                            <span class="glyphicon glyphicon-trash"
                                (click)="deleteProduct(c.product_id,c.product_id.product_name)"></span>
                        </div>
                    </div>
                </div>
                <div class="col-3 container ReviewOrderTable">
                    <div class="card">
                        <div class="card-header">
                            Review Order
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Subtotal &nbsp;&nbsp;&nbsp;
                                - &nbsp;&nbsp;{{subtotal | currency:'INR' }}
                            </li>
                            <li class="list-group-item">GST(5%) &nbsp;&nbsp;&nbsp;
                                - &nbsp;&nbsp;{{gst | currency:'INR' }}
                            </li>
                            <li class="list-group-item">Order Total &nbsp;
                                - &nbsp;&nbsp;{{ordertotal | currency:'INR'}}
                            </li>
                            <a class="btn Buy" (click)="proceedToBuy()">
                                Proceed To Buy
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="noCartData" class="EmptyCartDiv">
            <p class="emptyCart">
                <img src="assets/EmptyCart/emptycart.png" alt="" class="emptyCartImage">
            </p>
            <p class="emptyCart1">
                YOUR CART IS CURRENTLY EMPTY
            </p>
            <p class="emptyCart2">
                Before proceed to checkout you must add some products to you shopping cart.
            </p>
            <p class="emptyCart2">
                You will find lots of intresting products on our products page
            </p>
            <p class="emptyCart">
                <a class="btn Return" routerLink="allproducts" routerLinkActive="Active">
                    Return to Product Page
                </a>
            </p>
        </div>

    </mat-tab>

    <mat-tab label="Address" *ngIf="!noCartData">

        <div class="container AddressDetails" *ngIf="!noAddressFound">
            <p class="Addresses">Addresses</p>
            <div class="row Details" *ngFor="let a of addresses; let i =index;">
                <div class="col-12 TableHeader">
                    <div class="row">
                        <div class="col-8">
                            <div>
                                <span class="AddressHeadings">Address: &nbsp;</span>{{a.address}}
                            </div>
                            <div>
                                <span class="AddressHeadings">City: &nbsp;</span>{{a.city}}
                            </div>
                            <div>
                                <span class="AddressHeadings">Pincode: &nbsp;</span>{{a.pincode}}
                            </div>
                            <div>
                                <span class="AddressHeadings">State: &nbsp;</span>{{a.state}}
                            </div>
                            <div>
                                <span class="AddressHeadings">Country: &nbsp;</span>{{a.country}}
                            </div>
                            <div class="row">
                                <div class="col-3 select">
                                    <mat-radio-group name="{{i}}" [(ngModel)]="selectedRadio"
                                        #radioGroup="matRadioGroup" (change)="radioChange($event)">
                                        <mat-radio-button value="{{i}}">Select
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-3">
                                    <a class="btn Edit" routerLink="add-address" routerLinkActive="Active"
                                        (click)="gotoEditAddress(a.address_id)">
                                        Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="formButtons">
                <button type="button" class="btn btn-light" routerLink="add-address" routerLinkActive="Active">
                    Add Address
                </button>
                <button type="button" class="btn" [style.background-color]="placeButtonColor"
                    [style.color]="placeButtonTextColor" [style.border]="placeButtonBorder"
                    [disabled]="!placeOrderButton" (click)="placeOrder()">
                    Place Order
                </button>
            </p>
        </div>

        <div *ngIf="noAddressFound" class="NoAddressDiv">
            <p class="noAddress">
                No Address Found
            </p>
            <p class="addAddress">
                <a class="btn Add" routerLink="add-address" routerLinkActive="Active">
                    Add Address
                </a>
            </p>
        </div>

    </mat-tab>

</mat-tab-group>