.RatingHeading {
    text-align: center; 
    color: #4A3DB5;
    font-weight: bold;
}

button.btn.btn-light1 {
    background: #4A3DB5;
    color: #FFFFFF;
    width: 50px;
}

button.btn.btn-light1:hover {
    background: #4A3DB5;
    color: #FFFFFF;
    width: 50px;
    border: 2px solid #000000;
}