<div class="ContactFormDiv" *ngIf="!verifyCodeForm">

    <p class="ContactFormTitle">Forget Password ?</p>

    <form name="RegForm">

        <div class="field">
            <i class="fa fa-envelope icon"></i>
            <input type="email" name="email" id="email" placeholder="Email Address">
            <label for="email">Email Address</label>
        </div>
        <span id="email_error" class="Error"></span>

        <p class="RegisterButton">
            <button type="button" class="btn btn-light" (click)="formValidation()">Submit</button>
        </p>

    </form>
</div>

<div class="ContactFormDiv" *ngIf="verifyCodeForm">

    <p class="ContactFormTitle">Recover Password</p>

    <p class="ContactFormTitle1">
        <span class="glyphicon glyphicon-info-sign"></span>
        Verification code has been sent to your registered mail ID
    </p>

    <form name="RegForm">

        <div class="field">
            <i class="fa fa-key icon"></i>
            <input type="text" name="code" id="code" placeholder="Verification Code" maxlength="4">
            <label for="code">Verification Code</label>
        </div>
        <span id="code_error" class="Error"></span>

        <div class="field">
            <i class="fa fa-key icon"></i>
            <input type="password" name="newpassword" id="newpassword" placeholder="New Password" maxlength="12">
            <label for="newpassword">New Password</label>
        </div>
        <span id="newpassword_error" class="Error"></span>

        <div class="field">
            <i class="fa fa-key icon"></i>
            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password"
                maxlength="12">
            <label for="confirmpassword">Confirm Password</label>
        </div>
        <span id="confirmpassword_error" class="Error"></span>

        <p class="RegisterButton">
            <button type="button" class="btn btn-light" (click)="formValidation1()">Submit</button>
        </p>

    </form>

</div>