.carousel {
    margin-top: 50px;
}

.carousel-inner {
    height: 400px;
}

.w-100 {
    height: 400px;
}

.PopularProducts {
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    font-size: 25px;
}

.ViewAll {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.nav-link {
    padding: 0rem;
}

a {
    color: #000000;
}

.btn-primary { 
    background-color: #E96137;
    border-color: #E96137;
    color: #FFFFFF;
}

.btn {
    background-color: #E96137;
    border-color: #E96137;
    color: #FFFFFF;
}

.button {
    text-align: center;
}

.col-3 {
    padding: 0;
}

.card-group {
    margin: 60px;
}

.card {
    height: 350px;
    margin: 20px;
}

.card-title {
    text-align: center;
    color: #4287f5;
    font-size: 15px;
}

.card-text {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.card-img-top {
    height: 150px;
    padding: 15px;
}

.nav-link {
    color: #4287f5;
}

.nav-link:hover {
    color: #4287f5;
    text-decoration: underline;
}

.viewall {
    color: #000000;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: 400px;
}

.star {
    text-align: center;
}

.thumbnail:hover {
    border: 10px solid #000000;
}