.AboutCompany {
    text-align: center;
}

.AboutCompany1 {
    text-align: center;
    margin: 0px;
    font-size: 12px;
}

.footer-copyright {
    font-size: 12px;
}

.page-footer {
    background: #000000;
    color: #FFFFFF;
    margin-top: 100px;
}

.SubscribeButtonPara {
    text-align: center;
}

.SubscribeButton {
    height: 25px;
    width: 90px;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.InputEmail {
    height: 25px;
    width: 140px;
    font-size: 12px;
    margin-top: 10px;
    color: #000000;
}

.InputPara {
    text-align: center;
}

.nav-link {
    color: #FFFFFF;
    padding: 0px;
}