.nav-link {
    padding: 0rem;
}

a {
    color: #000000;
}

.btn-info { 
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #000000;
    border: 1px solid #CDCDCD;
}

.btn-primary { 
    background-color: #EB4539;
    border-color: #EB4539;
    color: #FFFFFF;
}

.btn-secondary {
    height: 30px;
    width: 45px;
    margin: 5px;
    border-color: #000000;
}

.button {
    text-align: center;
}

.card-title {
    color: #4287f5;
    font-size: 15px;
}

.card-text {
    font-size: 15px;
    font-weight: bold;
}

.card-img-top {
    height: 150px;
    padding: 15px;
}

.nav-link {
    color: #4287f5;
}

.nav-link:hover {
    color: #4287f5;
    text-decoration: underline;
}

.star {
    text-align: center;
}

.ContactFormTitle {
    font-size: 25px;
    font-weight: bold;
}

.SortBy {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}

.btn-default {
    color: #3C5BFF;
    border: none;
    font-size: 20px;
}

.card-footer {
    background-color: transparent;
    border: none;
}

.notFound {
    text-align: center;
}

.socialbutton {
    margin-left: 10px;
    border-right: 3px solid #000000;
    margin-right: 50px;
}

.card-footer {
    text-align: center;
}