.socialbutton {
    margin-left: 10px;
    border-right: 3px solid #000000;
    margin-right: 50px;
}

.btn-info { 
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #000000;
    border: 3px solid #CDCDCD;
}

.btn-info:hover { 
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #000000;
    border: 3px solid #000000;
}

.ContactFormTitle {
    font-size: 25px;
    font-weight: bold;
}

.SortBy {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}

.btn-default {
    color: #4A3DB5;
    border: none;
    font-size: 20px;
}

.nav-link {
    padding: 0rem;
    color: #4A3DB5;
}

.nav-link:hover {
    color: #4A3DB5;
    text-decoration: underline;
}

a {
    color: #000000;
}

.col-4 {
    padding: 0px;
}

.col-sm-12, .col-md-6, .col-lg-3 {
    padding: 0px;
}

.card {
    height: 380px;
    margin: 20px;
    border: 1px solid #4A3DB5;
}

.card-img-top {
    height: 150px;
    padding: 15px;
}

.thumbnail:hover {
    border: 10px solid #000000;
}

.card-title {
    color: #4A3DB5;
    font-size: 15px;
    text-align: center;
}

.card-text {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.button {
    text-align: center;
}

a.btn.btn-light {
    color: #FFFFFF;
}

a.btn.btn-light:hover {
    color: #FFFFFF;
}

.btn-light {
    background:#4A3DB5;
    border: 2px solid #4A3DB5;
    color: #FFFFFF;
}

.btn-light:hover {
    background: #4A3DB5;
    border: 2px solid #000000;
    color: #FFFFFF;
}

.star {
    text-align: center;
}

.btn-secondary {
    height: 30px;
    width: 45px;
    margin: 5px;
    border-color: #000000;
    background: #FFFFFF;
    color: #4A3DB5;
}

.btn-secondary:hover {
    height: 30px;
    width: 45px;
    margin: 5px;
    border: 5px solid #000000;
}

.card-footer {
    background-color: transparent;
    border: none;
    text-align: center;
}

.notFound {
    text-align: center;
}

button.btn.btn-secondary {
    border-radius: 0;
    padding: 0;
    margin: 2.5px;
}

.btn-toolbar {
    margin-left: 0px; 
}

.list-group-item:hover {
    border: 5px solid #000000;
}