.OrderPlacedDiv {
    height: 450px;
}

.Heading1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.Heading2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.Heading3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.BackToHome {
    text-align: center;
    margin-top: 50px;
}

a.HomePage {
    background: #4548B5;
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}

.Heading4 {
    font-size: 15px;
    text-align: center;
}